<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AlumniNetwork</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitializeDatabaseServlet</display-name>
    <servlet-name>InitializeDatabaseServlet</servlet-name>
    <servlet-class>Servlet.InitializeDatabaseServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDatabaseServlet</servlet-name>
    <url-pattern>/InitializeDatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>Servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>Servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>Servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuthenticationServlet</display-name>
    <servlet-name>UserAuthenticationServlet</servlet-name>
    <servlet-class>Servlet.UserAuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthenticationServlet</servlet-name>
    <url-pattern>/UserAuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserAuthenticationServlet</display-name>
    <servlet-name>UpdateUserAuthenticationServlet</servlet-name>
    <servlet-class>Servlet.UpdateUserAuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserAuthenticationServlet</servlet-name>
    <url-pattern>/UpdateUserAuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserCompanyServlet</display-name>
    <servlet-name>GetAllUserCompanyServlet</servlet-name>
    <servlet-class>Servlet.GetAllUserCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserCompanyServlet</servlet-name>
    <url-pattern>/GetAllUserCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserInstituteServlet</display-name>
    <servlet-name>GetAllUserInstituteServlet</servlet-name>
    <servlet-class>Servlet.GetAllUserInstituteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserInstituteServlet</servlet-name>
    <url-pattern>/GetAllUserInstituteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserInstituteServlet</display-name>
    <servlet-name>AddUserInstituteServlet</servlet-name>
    <servlet-class>Servlet.AddUserInstituteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserInstituteServlet</servlet-name>
    <url-pattern>/AddUserInstituteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserCompanyServlet</display-name>
    <servlet-name>AddUserCompanyServlet</servlet-name>
    <servlet-class>Servlet.AddUserCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserCompanyServlet</servlet-name>
    <url-pattern>/AddUserCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInstituteServlet</display-name>
    <servlet-name>UpdateUserInstituteServlet</servlet-name>
    <servlet-class>Servlet.UpdateUserInstituteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInstituteServlet</servlet-name>
    <url-pattern>/UpdateUserInstituteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserCompanyServlet</display-name>
    <servlet-name>UpdateUserCompanyServlet</servlet-name>
    <servlet-class>Servlet.UpdateUserCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserCompanyServlet</servlet-name>
    <url-pattern>/UpdateUserCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInstituteServlet</display-name>
    <servlet-name>AddInstituteServlet</servlet-name>
    <servlet-class>Servlet.AddInstituteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstituteServlet</servlet-name>
    <url-pattern>/AddInstituteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCompanyServlet</display-name>
    <servlet-name>AddCompanyServlet</servlet-name>
    <servlet-class>Servlet.AddCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCompanyServlet</servlet-name>
    <url-pattern>/AddCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserInstituteServlet</display-name>
    <servlet-name>DeleteUserInstituteServlet</servlet-name>
    <servlet-class>Servlet.DeleteUserInstituteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserInstituteServlet</servlet-name>
    <url-pattern>/DeleteUserInstituteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserCompanyServlet</display-name>
    <servlet-name>DeleteUserCompanyServlet</servlet-name>
    <servlet-class>Servlet.DeleteUserCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserCompanyServlet</servlet-name>
    <url-pattern>/DeleteUserCompanyServlet</url-pattern>
  </servlet-mapping>	
  <servlet>
    <description></description>
    <display-name>AddExpertiseServlet</display-name>
    <servlet-name>AddExpertiseServlet</servlet-name>
    <servlet-class>Servlet.AddExpertiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExpertiseServlet</servlet-name>
    <url-pattern>/AddExpertiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserExpertiseServlet</display-name>
    <servlet-name>AddUserExpertiseServlet</servlet-name>
    <servlet-class>Servlet.AddUserExpertiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserExpertiseServlet</servlet-name>
    <url-pattern>/AddUserExpertiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserExpertiseServlet</display-name>
    <servlet-name>UpdateUserExpertiseServlet</servlet-name>
    <servlet-class>Servlet.UpdateUserExpertiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserExpertiseServlet</servlet-name>
    <url-pattern>/UpdateUserExpertiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserExpertiseServlet</display-name>
    <servlet-name>DeleteUserExpertiseServlet</servlet-name>
    <servlet-class>Servlet.DeleteUserExpertiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserExpertiseServlet</servlet-name>
    <url-pattern>/DeleteUserExpertiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserExpertiseServlet</display-name>
    <servlet-name>GetAllUserExpertiseServlet</servlet-name>
    <servlet-class>Servlet.GetAllUserExpertiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserExpertiseServlet</servlet-name>
    <url-pattern>/GetAllUserExpertiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCompaniesByKeywordServlet</display-name>
    <servlet-name>GetCompaniesByKeywordServlet</servlet-name>
    <servlet-class>Servlet.GetCompaniesByKeywordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCompaniesByKeywordServlet</servlet-name>
    <url-pattern>/GetCompaniesByKeywordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetExpertisesByKeywordServlet</display-name>
    <servlet-name>GetExpertisesByKeywordServlet</servlet-name>
    <servlet-class>Servlet.GetExpertisesByKeywordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExpertisesByKeywordServlet</servlet-name>
    <url-pattern>/GetExpertisesByKeywordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInstitutesByKeywordServlet</display-name>
    <servlet-name>GetInstitutesByKeywordServlet</servlet-name>
    <servlet-class>Servlet.GetInstitutesByKeywordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInstitutesByKeywordServlet</servlet-name>
    <url-pattern>/GetInstitutesByKeywordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserAlumniServlet</display-name>
    <servlet-name>GetUserAlumniServlet</servlet-name>
    <servlet-class>Servlet.GetUserAlumniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserAlumniServlet</servlet-name>
    <url-pattern>/GetUserAlumniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetJobServlet</display-name>
    <servlet-name>GetJobServlet</servlet-name>
    <servlet-class>Servlet.GetJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJobServlet</servlet-name>
    <url-pattern>/GetJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserJobApplicationServlet</display-name>
    <servlet-name>AddUserJobApplicationServlet</servlet-name>
    <servlet-class>Servlet.AddUserJobApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserJobApplicationServlet</servlet-name>
    <url-pattern>/AddUserJobApplicationServlet</url-pattern>
  </servlet-mapping>
</web-app>